@font-face {
    font-style: normal;
    font-weight: 800;
    font-family: "Countryside";
  
    src: url("../../src/assets/fonts/Countryside-YdKj"); /* IE9 Compat Modes */
    src: local(""),
    /* IE6-IE8 */ 
    url("../assets/fonts/Countryside-YdKj")
    format("ttf"),
  }