.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  padding: 100px 20px 0 20px;
  h2 {
    max-width: 30%;

    font-size: 3.4rem;
    text-align: center;
    text-align: center;
    color: $main-color;
    text-shadow: 2px 4px 0 #04346c;

    cursor: pointer;
  }
}

.headline {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 30%;
  height: 300px;
}

.description {
  position: absolute;
  bottom: -30px;

  display: flex;
  align-items: center;
  max-width: 70%;
  height: 100px;

  font-size: 1.2rem;
  text-align: center;
  color: $main-color;

  border-radius: 20px;

  transition: all .5s ease-out;

  pointer-events: none;
}

@keyframes fadeInLeft {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.in-left {
  max-width: 100% !important;

  animation: fadeInLeft 1s 1s both;
}

.in-right {
  max-width: 100% !important;

  animation: fadeInRight 1s 1s both;
}
