$brand: #7d94ad78;
$width: 60px;
$height: 300px;
$time: 1s;
$timeOffset: -$time;
$timeSloshOffset: -$time - ($time*.1);


.beaker {
  position: absolute;
  top: 70%;
  left: 50%;

  width: $width;
  height: $height;
  margin-top: -$height/2;
  margin-left: -$width/2;

  background-color: lighten($brand, 20%);
  border-bottom-right-radius: $width/2;
  border-bottom-left-radius: $width/2;
  transform: rotate(0);

  &:before {
    content: "";
    position: absolute;
    top: -($width * .280);
    left: -($width * .125);
    z-index: 10;

    width: $width + ($width * .25);
    height: ($width * .25);

    background-color: lighten($brand, 20%);
    border-radius: ($width * .25);
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -$width * .5;

    width: $width;
    height: 10px;

    background-color: rgba(black, .25);
    border-radius: 100%;

  }
}

.water {
  position: absolute;
  bottom: 4px;
  left: 4px;

  width: $width - 8;
/*   height: $height - 8; */

  border-bottom-right-radius: $width/2;
  border-bottom-left-radius: $width/2;

/*   animation: slosh $time ease-in-out alternate infinite $timeOffset + ($time*.2); */

  clip-path: polygon(0% 20%, 100% 20%, 100% 100%, 0% 100%);
}

.bubbles {
  margin: 0;
  padding: 0;

  list-style-type: none;
  > li {
    position: absolute;
    bottom: ($width *.5) - 4;
    left: 50%;

    width: ($width * .125);
    height: ($width * .125);
    margin-left: -($width * .0625);

    background-color: lighten($brand, 10%);
    border-radius: 50%;

    animation: bubble1 5s ease-in-out forwards infinite;
    &:nth-child(1) {
      animation: bubble1 5s ease-in-out forwards infinite -5s;
    }
    &:nth-child(2) {
      animation: bubble2 5s ease-in-out forwards infinite -7.5s;
    }
    &:nth-child(3) {
      animation: bubble3 5s ease-in-out forwards infinite -6.25s;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes rotate-shadow {
  0% {
    transform: translate(-20px,-4px) rotate(10deg);
  }
  100% {
    transform: translate(20px,-4px) rotate(-10deg);
  }
}

@keyframes slosh {
  0% {
    animation-timing-function: cubic-bezier(.4, 0, .6, 1.0);

    clip-path: polygon(0% 16.5%, 100% 20%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 20%, 100% 16.5%, 100% 100%, 0% 100%);
  }
}

@keyframes bubble1 {
  0% {
    transform: translate(-$width * .25, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(-$width * .25 ,-($height - ($width * 1.55)));
    opacity: 0;
  }
}
@keyframes bubble2 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate(0,-($height - ($width * 1.55)));
    opacity: 0;
  }
}
@keyframes bubble3 {
  0% {
    transform: translate($width * .25, 0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate($width * .25, -($height - ($width * 1.55)));
    opacity: 0;
  }
}
